APP_NAME=O Mestre do Portugues Backend
DATABASE_URL=sqlite:///./backend/streaks.db
STREAMLIT_APP_URL=http://localhost:8501
GOOGLE_CLIENT_ID=639848251215-r2enr544geoogk0pnai2254du1jtj93f.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
SESSION_SECRET=1ba1271031a890ab753ecd4c564ffeedac5c780fe928759291b044ad55255052
TOKEN_SECRET=3a38e810bedb7da7d78def5c121639c67d27aae2f14bb4a7694c59686095a73f
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=noreply.taskalert@gmail.com
SMTP_PASSWORD=wvco dgtr rulf xbkk
SMTP_SENDER=noreply.taskalert@gmail.com
SMTP_USE_TLS=true
DAILY_GOAL=50
REMINDER_SUBJECT=Ton streak portugais t'attend
REMINDER_ENABLED=true
